#Konekt - .gitignore

#=========GERAL=========
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.swp
*.swo

#=========NODEJS=========
**/node_modules
npm-debug.log*
yarn-debug.log*
.env
.env.local

#Prisma
/src/generated 

#=========REACT=========
frontend/dist

#=========MOBILE=========
**/.gradle
**/build
**/captured
local.properties

